# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/

# Miscellaneous
.DS_Store
Thumbs.db
math/plotting/data.npy
math/plotting/labels.npy
math/plotting/pca.npz
supervised_learning/classification/27-output.pkl
supervised_learning/classification/27-saved.pkl
supervised_learning/classification/28-saved.pkl
supervised_learning/classification/28-output.pkl
supervised_learning/tensorflow/model.ckpt.meta
supervised_learning/tensorflow/model.ckpt.index
supervised_learning/tensorflow/model.ckpt.data-00000-of-00001
supervised_learning/tensorflow/checkpoint
supervised_learning/optimization/MNIST.npz
supervised_learning/optimization/model.h5
supervised_learning/optimization/Binary_Train.npz
supervised_learning/optimization/Companys.xlsx
supervised_learning/optimization/Customers.xlsx
supervised_learning/optimization/deExcelACSV.py
supervised_learning/optimization/email_list.csv
supervised_learning/optimization/Providers.xlsx
supervised_learning/error_analysis/confusion.npz
supervised_learning/error_analysis/labels_logits.npz
supervised_learning/regularization/model_reg.h5
supervised_learning/regularization/MNIST.npz
